@using Orchard.Mvc.Extensions
@model Orchard.Blogs.Models.BlogPart


<h5>Description</h5>
@Html.TextAreaFor(m => m.Description, 5, 60, new { @class = "form-control" })
<br />
<div class="input-group">
    <span class="input-group-addon">Feed proxy Url</span>
    @Html.TextBoxFor(m => m.FeedProxyUrl, new { @class = "form-control" })
</div>
<span class="help-block">Provide a custom public url which will be used to proxy the local rss feed.</span>
<span class="help-block">@T("The current feed is available at <a href=\"{0}\">{0}</a>.", Url.AbsoluteAction("Index", "Feed", new { area = "Feeds", containerid = Model.Id }))</span>

<fieldset>
    @Html.CheckBoxFor(m => m.EnableCommentsFeed)
    @Html.LabelFor(m => m.EnableCommentsFeed, T("Render a comments rss feed").Text, new { @class = "forcheckbox" })
    <span class="help-block">Enable to render the comments rss feed.</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.PostsPerPage, T("Posts per page"))
    @Html.TextBoxFor(m => m.PostsPerPage, new { @class = "form-control" })
    <span class="help-block">The number of items to display on the main blog page.</span>
</fieldset>
