@model Orchard.ContentTypes.ViewModels.ContentTypeSettingsViewModel

<fieldset>
    @Html.EditorFor(m => m.Creatable)
    <label for="@Html.FieldIdFor(m => m.Creatable)" class="forcheckbox">Creatable</label>
    @Html.ValidationMessageFor(m => m.Creatable)
    <span class="help-block">Determines if an instance of this content type can be created through the UI.</span>
</fieldset>

<fieldset>
    @Html.EditorFor(m => m.Listable)
    <label for="@Html.FieldIdFor(m => m.Listable)" class="forcheckbox">Listable</label>
    @Html.ValidationMessageFor(m => m.Listable)
    <span class="help-block">Determines if an instance of this content type can be listed through the UI.</span>
</fieldset>

<fieldset>
    @Html.EditorFor(m => m.Draftable)
    <label for="@Html.FieldIdFor(m => m.Draftable)" class="forcheckbox">Draftable</label>
    @Html.ValidationMessageFor(m => m.Draftable)
    <span class="help-block">Determines if this content type supports draft versions.</span>
</fieldset>

<fieldset>
    @Html.EditorFor(m => m.Securable)
    <label for="@Html.FieldIdFor(m => m.Securable)" class="forcheckbox">Securable</label>
    @Html.ValidationMessageFor(m => m.Securable)
    <span class="help-block">Determines if this content type can have custom permissions.</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Stereotype)">Stereotype</label>
    @Html.TextBoxFor(m => m.Stereotype, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Stereotype)
    <span class="help-block">@T("(Optional) The stereotype of the content type. e.g., Widget, MenuItem, ...")</span>
</fieldset>