@using Orchard.ContentManagement;

@{
    ContentItem contentItem = Model.ContentItem;
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="summary" itemscope="itemscope" itemid="@contentItem.Id" itemtype="http://orchardproject.net/data/ContentItem">
            <div class="properties">
                <h4>
                    <input type="checkbox" value="@contentItem.Id" name="itemIds" />
                    @Html.ItemAdminLink(contentItem) - <span class="contentType">@contentItem.TypeDefinition.DisplayName</span>
                </h4>
                @if (Model.Header != null) {
                    <div class="header">@Display(Model.Header)</div>
                }
                @if (Model.Meta != null) {
                    <div class="metadata">@Display(Model.Meta)</div>
                }
                <br/>
            </div>
            <div class="related">
                @Display(Model.Actions)
            </div>
            @if (Model.Content != null) {
                <div class="primary">@Display(Model.Content)</div>
            }
        </div>
    </div>
</div>