@model RolesIndexViewModel
@using Orchard.Roles.ViewModels;
@using Orchard.Utility.Extensions;
@{
    Script.Require("ShapesBase");

    Layout.Title = T("Roles").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary();
    <div class="row">
        <div class="col-lg-6">
            <br />
            <div class="input-group">
                <span class="input-group-addon">Actions:</span>
                <select id="Select1" name="roleActions" class="form-control">
                    <option value="1">@T("Delete")</option>
                </select>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">@T("Apply")</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <br />
            <div class="manage">@Html.ActionLink(T("Add a role").ToString(), "Create", new { }, new { @class = "btn btn-success pull-right" })</div>
        </div>
    </div>
    <br />
    <div class="table-responsive panel panel-default">
        <table class="table table-striped" summary="@T("This is a table of the roles currently available for use in your application.")">
            <colgroup>
                <col id="Col1" />
                <col id="Col2" />
                <col id="Col3" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="check-all" /></th>
                    <th scope="col">@T("Name")</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var row in Model.Rows)
                {
                <tr>
                    <td><input type="checkbox" value="true" name="@("Checkbox." + row.Id)" /></td>
                    <td>@Html.ActionLink(row.Name, "Edit", new { row.Id })</td>
                    <td>
                        @Html.ActionLink(T("Edit").ToString(), "Edit", new { row.Id })
                        @if (row.Name != "Administrator")
                        {
                            @T(" | ")
                            <a href="@Url.Action("Delete", new {row.Id, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString()})" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}